* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --cor1:#500020;
    --cor2: #5c0214;
    --cor3: #c2bfba;
    --cor5: #ffffff;
    --cor6: #a52a2a;
    --cor7: #000000;
    --cor8: #4d4d3a;
}

body {
    background-color: var(--cor3);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: var(--cor1);
}

.menu__logo {
    border-radius: 50%;
    margin-left: 30px;
}

.menu__links {
    display: flex;
    margin-right: 20px;
}

li {
    list-style: none;
    margin-right: 10px;
}

li a {
    text-decoration: none;
    color: var(--cor5);
}

li a:hover {
    color: var(--cor6);
    text-decoration: underline;
    transition: 0.5s;
}

.cabecalho {
    background-color: var(--cor2);
    padding: 5%;
}

.cabecalho__titulo {
    font-size: 3.5rem;
    color: var(--cor5);
    margin-left: 100px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 40px;
}

.section__container {
    width: 80%;
    padding: 30px;
    display: flex;
    margin: 0 auto;
}

.section__container figure img {
    border-radius: 50%;

}

.conteudo {
    padding: 20px;
}

.subtitulo {
    border-bottom: 2px solid var(--cor7);
    margin-bottom: 20px;
}

p {
    line-height: 1.5;
    margin-bottom: 20px;
}

.section__imagens__subtitulo {
    font-size: 2rem;
}

.section__imagens {
    background-color: var(--cor8);
    text-align: center;
    padding: 20px;
}

.imagens {
    display: flex;
    justify-content: center;
}

.section__imagens__figure img {
    padding: 40px;
}

footer {
    background-color: var(--cor2);
    padding: 25px;
}

ul {
    display: flex;
    justify-content: center;
}

li {
    color: var(--cor5);
    padding: 10px;
}

.section__imagens__artigo {
    display: flex;
    justify-content: center;
}

.section__galeria {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.section__galeria img {
    width: 30%;
}

.section__galeria__9 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.section__galeria__9  img {
    width: 10%;
}

.img-100 {
    width: 100% !important;
}

.subtitulo__galeria {
    font-size: 2.2rem;
    margin-left: 5%;
   text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}