* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --cor1: #9ab0d4bd;
    --cor2: #AA5656;
    --cor3: #ffffff;
    --cor4: #000000;
    --cor5: #F1DBBF;
    --cor6: #808080;
}

body {
    background-color: var(--cor5);
}

.cabecalho {
    background-color: var(--cor1);
    padding: 5%;
}

h1 {
    color: var(--cor5);
    margin-left: 80px;
    font-size: 2.5rem;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
}

h2 {
    margin-top: 30px;
    font-size: 2rem;
    border-left: 7px solid var(--cor6);
    padding: 10px;
    margin-bottom: 20px;
    font-style: italic;
}

p {
    line-height: 1.5;
    margin-bottom: 20px;
}

figure {
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

img {
    width: 40%;
    margin-bottom: 30px;
}

footer {
    background-color: var(--cor2);
    padding: 30px;
}

.links {
    margin-left: 10%;
}

li {
    color: var(--cor3);
}

a {
    text-decoration: none;
    color: var(--cor3);
}